{%  extends "base.html" %}

{% block content %}
  <h1>List of requests</h1>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Date created</th>
        <th>State</th>
        <th>Started</th>
        <th>Completed</th>
        <th>Run duration</th>
      </tr>
    </thead>
    <tbody>
      {% for placementrequest in placementrequests %}
        <tr>
          <td>
            <a href="{% url 'placements:placementrequest-details' placementrequest.id %}">
              {{ placementrequest.created }}
            </a>
          </td>
          <td>
            {% include "placements/request_state.html"%}
          </td>
          <td>{{ placementrequest.started }}</td>
          <td>{{ placementrequest.completed }}</td>
          <td>{{ placementrequest.run_duration }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}

