{% extends 'wizard/wizard_form.html' %}

{% block step_name %}
  School Data
{% endblock %}

{% block help %}
  <p>
    Download the Excel template below and fill in the columns.
    View comments on the column headers to learn how each column affects the placement process.
  </p>

  <a href="https://github.com/mrklees/acm-placement-app/raw/master/dummy_inputs/ACM_Placement_School_Data.xlsx"
     class="btn btn-light"
  >
    Download School Data Template
  </a>

  <p>After you have filled in the template, upload the file and continue.</p>
{% endblock %}
