{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
  {{ wizard.form.media }}
{% endblock %}

{% block content %}
  <h3>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}: {% block step_name %}{% endblock %}</h3>

  {% block help %}{% endblock %}

  <form method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div>
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
            {{ form|crispy }}
        {% endfor %}
      {% else %}
        {{ wizard.form|crispy }}
      {% endif %}
    </div>
    <div class="form-buttons">
      {% if wizard.steps.prev %}
          <button class="btn btn-danger"
                  name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}"
                  onclick="return confirm('Are you sure you want reset this form?');"
          >
            {% trans "Go to beginning" %}
          </button>
          <button class="btn btn-secondary"
                  name="wizard_goto_step"  type="submit" value="{{ wizard.steps.first }}"
                  onclick="return confirm('Are you sure you want to to go back?');"
          >
            {% trans "Back" %}
          </button>
      {% endif %}

      {% if wizard.steps.current == wizard.steps.last %}
        <input type="submit" class="btn btn-success float-right" value="{% trans "Submit" %}"/>
      {% else %}
        <input type="submit" class="btn btn-primary float-right" value="{% trans "Next" %}"/>
      {% endif %}
    </div>
  </form>
{% endblock %}


